.li_container {
  border: 2px solid black;
  margin: 1rem;
  width: 25rem;
}

.title {
  text-align: left;
  margin: 0 auto 0.5rem auto;
}

.action {
  display: flex;
  justify-content: space-between;
}

.action p {
  margin: 0;
}

.btn {
  font-size: 1rem;
  width: fit-content;
  background-color: rgb(238, 238, 158);
}

.btn:hover {
  background-color: rgb(255, 255, 83);
}

.prefix {
  font-weight: bold;
  color: blue;
}