.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

h3 {
  margin: 0;
}

.btn {
  font-size: 1rem;
  width: fit-content;
  background-color: rgb(238, 238, 158);
  margin-left: 0.5rem;
}

.action_btn {
  font-size: 1.3rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  width: fit-content;
  background-color: rgb(238, 238, 158);
}

.btn:hover, .action_btn:hover {
  background-color: rgb(255, 255, 83);
}

.main_container {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  text-align: center;
  height: 35vh;
  width: 463.2px;
  overflow: auto;
}

.todo_list {
  list-style: none;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
}

.add_todos_container {
  height: 28vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 965.6px) {
  .main_container {
    width: auto
  }
}