.main_container {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 0.5rem;
  max-height: 100vh;
}

.products_container {
  overflow: auto;
  background-color: #4294ff;
}

.products_close_mode {
  grid-area: 2/ 2/ span 5/ span 9;
}

.products_open_mode {
  grid-area: 2/ 5/ span 5/ span 7;
}