header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 10%;
}

.title {
  display: flex;
  align-items: center;
  gap: 1rem
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  margin: 0;
  color: #ffc404;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.title img {
  height: 4rem;
  width: 4rem;
  object-fit: contain;
  border-radius: 50%;
  border: 2px solid #ffc404;
}