.close_mode {
  display: flex;
  align-items: center;
  background-color: #a3dafd;
  margin-top: 2rem;
  grid-area: 1/ 1/ span 6/ span 1;
}

.arrow_btn {
  height: 10vh;
  width: 2rem;
  border: none;
}

.open_mode {
  display: flex;
  flex-direction: column;
  background-color: #a3dafd;
  margin-top: 2rem;
  grid-area: 1/ 1/ span 6/ span 4;
  max-height: 100vh;
}

.items_container {
  overflow: auto;
  margin-bottom: 0.5rem;
}

.open_mode h1 {
  margin: 1rem auto 1rem auto;
}

.open_mode h2 {
  margin: 1rem auto 1rem 1rem;
  text-decoration: underline;
}

.order_btn {
  font-size: 1.5rem;
  width: 7rem;
  padding: 0.5rem;
  margin: 0 auto auto auto;
  border: none;
  box-shadow: 1px 1px px 2px black;
  border-radius: 12px;
  background-color: #B784B7;
}

.order_btn:hover {
  background-color: #8E7AB5;
  box-shadow: 1px 1px 3px 1px black;
}

.close_btn {
  margin: auto 0 1rem auto;
  transform: rotate(180deg);
}
