.main_container {
  background-color: #79c7f8;
  width: 50rem;
  margin: 2rem auto 2rem auto;
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 1rem 0 1rem;
}

.add_button {
  background-color: #FBEEAC;
  height: 3rem;
  width: 12rem;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

.add_button:hover {
  background-color: #F4D160;
}