.container {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.search {
  display: inline-block;
  width: 50%;
}

.label {
  font-size: 1.3rem;
  font-weight: bold;
}

.input {
  margin-left: 0.3rem;
  font-size: 1rem;
  width: 7rem;
}

.input:focus {
  background-color: rgb(252, 216, 211);
}

.btn {
  background-color: rgb(238, 238, 158);
  font-size: 1.2rem;
}

.btn:hover {
  background-color: rgb(255, 255, 83);
}